# Assignment 9 Solution

#### Q-17.  Write an SQL query to show the top n (say 10) records of a table.

`select * from worker_table limit 10;`

#### Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

`select * from worker_table order by salary desc limit 4,1;`