Assignment 7 Solution

#### Q-13. Write an SQL query to show only odd rows from a table.

`select * from worker_table where mod(worker_id,2)=1;`

#### Q-14. Write an SQL query to clone a new table from another table.

`create table Clone_Worker_table(
WORKER_ID INT NOT NULL PRIMARY KEY AUTO_INCREMENT,
FIRST_NAME CHAR(25),
LAST_NAME CHAR(25),
SALARY INT,
JOINING_DATE DATETIME,
DEPARTMENT CHAR(25)
);`

`insert into Clone_Worker_table select * from Worker_table;`

`select * from Clone_Worker_table;`