# Assignment 03 Solution

#### Q-1. Write an SQL query to print the FIRST_NAME from Worker table after removing white spaces from the right side.

`select rtrim(first_name) from worker_table;`

#### Q-2. Write an SQL query that fetches the unique values of DEPARTMENT from Worker table and prints its length.

`select department, length(department) from worker_table group by department;`

#### Q-3. Write an SQL query to fetch nth max salaries from a table.

`select distinct(salary) from worker_table order by salary desc limit 3,1;`

Here we are skipping 3 rows and returning 1 row after skipping which is why here we are displaying 4th max salary