# Assignment 2 Solution

#### Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

`select left(first_name,3), first_name from worker_table;`

####  Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

`select position('a' in first_name), first_name from worker_table where first_name = 'Amitabh';`

#### Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

`select first_name, last_name, department, max(salary) from worker_table group by department ;`